* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.legacy-shell {
  width: 100%;
  height: 100vh;
  border: 0;
  display: block;
}
